<ul>
    <li>

        <nz-card style="width: 300px;margin-top: 16px" [nzActions]="[actionSetting]">
            <nz-skeleton [nzActive]="true" [nzLoading]="false" [nzAvatar]="{ size: 'large' }">
                <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="Card title"
                    nzDescription="This is the description"></nz-card-meta>
            </nz-skeleton>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #actionSetting>
            <button nz-button nzType="primary">
                <i nz-icon nzType="search"></i>
                Show Question
            </button>
        </ng-template>

    </li>
    <li>

        <nz-card style="width: 300px;margin-top: 16px" [nzActions]="[actionSetting]">
            <nz-skeleton [nzActive]="true" [nzLoading]="false" [nzAvatar]="{ size: 'large' }">
                <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="Card title"
                    nzDescription="This is the description"></nz-card-meta>
            </nz-skeleton>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #actionSetting>
            <button nz-button nzType="primary">
                <i nz-icon nzType="search"></i>
                Show Question

            </button>
        </ng-template>

    </li>
    <li>

        <nz-card style="width: 300px;margin-top: 16px" [nzActions]="[actionSetting]">
            <nz-skeleton [nzActive]="true" [nzLoading]="false" [nzAvatar]="{ size: 'large' }">
                <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="Card title"
                    nzDescription="This is the description"></nz-card-meta>
            </nz-skeleton>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #actionSetting>
            <button nz-button nzType="primary">
                <i nz-icon nzType="search"></i>
                Show Question

            </button>
        </ng-template>

    </li>
</ul>