<div class="question-detail-box">
    <div class="row padding-box">
        <div class="col-md-2">
            <div class="info-box">
                <div class="user-info-box">
                    <nz-avatar [nzSize]="70" nzIcon="user"></nz-avatar>
                    <p> {{questionReadDto?.user?.firstName}} {{questionReadDto?.user?.lastName}}</p>

                </div>

                <div class="rating-box">

                    <button nz-button nzType="dashed" nzShape="circle"><i nz-icon nzType="up"
                            nzTheme="outline"></i></button>

                    <br>
                    <h6 class="rating-text  ">{{questionReadDto?.rating?.length}}</h6>

                    <button nz-button nzType="dashed" nzShape="circle"><i nz-icon nzType="down"
                            nzTheme="outline"></i></button>

                </div>
            </div>

        </div>
        <div class="col-md-10">
            <a class="custom-right-grid" nz-dropdown [nzDropdownMenu]="menu">

                <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item>1st menu item</li>
                    <li nz-menu-item>2nd menu item</li>
                    <li nz-menu-item>3rd menu item</li>
                    <li nz-menu-item nzDanger>4th danger item</li>
                </ul>
            </nz-dropdown-menu>
            <h4>{{questionReadDto?.title}}</h4>
            <p>
                {{questionReadDto?.description}}
            </p>

            <nz-list nzItemLayout="vertical">

                <nz-list-item *ngFor="let comment of questionCommentReadDto">
                    <nz-comment nzAuthor="{{comment.user.firstName}} {{comment.user.lastName}}" [nzDatetime]="time">
                        <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                        <nz-comment-content>
                            <p>
                                {{comment.comment?.description}}
                            </p>
                        </nz-comment-content>
                        <nz-comment-action>
                            <i nz-tooltip nzTitle="Like" nz-icon nzType="like" [nzTheme]="likes > 0 ? 'twotone' : 'outline'" (click)="like()"></i>
                            <span class="count like">{{ comment.dislikeCount }}</span>
                        </nz-comment-action>
                        <nz-comment-action>
                            <i nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike" [nzTheme]="dislikes > 0 ? 'twotone' : 'outline'" (click)="dislike()"></i>
                            <span class="count dislike">{{ comment.likeCount }}</span>
                        </nz-comment-action>
                    </nz-comment>

                </nz-list-item>


            </nz-list>
            <div #form class="display-none">
                <form [formGroup]="commentFormGroup">

                    <button class="cancel_btn" nz-button nzType="dashed" (click)="cancelBtn(form,btn_div)" nzShape="circle"><i nz-icon nzType="close" nzTheme="outline"></i></button>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">What are you thinking on this
                            ?</label>
                        <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button nz-button nzType="default" (click)="addComment()">
                        <i nz-icon nzType="send" nzTheme="outline"></i>
                        Send
                    </button>
                </form>

            </div>
            <div #btn_div>
                <button class="btn-answer" nz-button nzType="default" (click)="answerBtn(form,btn_div)">
                    <i nz-icon nzType="send" nzTheme="outline"></i>
                    Cevapla
                </button>
            </div>



        </div>


    </div>


</div>