<button nz-button nzType="dashed" (click)="showModal()" nzGhost>Kayıt Ol</button>

<nz-modal nzCancelText="iptal" nzOkText="Kayıt ol" [(nzVisible)]="isVisible" nzTitle=" Kayıt ol" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div *nzModalContent>
        <form [formGroup]="formGroup">

            <div class="form-group">
                <label for="username">Kullanıcı Adı</label>
                <input formControlName="username" type="text" class="form-control" id="username" placeholder="Kullanıcı Adı">
            </div>
            <div class="form-group">
                <label for="name">Ad</label>
                <input formControlName="firstName" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Ad">
            </div>

            <div class="form-group">
                <label for="lastname">Soyad</label>
                <input formControlName="lastName" type="text" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Soyad">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-posta">
                <small id="emailHelp" class="form-text text-muted">E-posta adresinizi kimseyle paylaşmayacağız</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-check">
                <input formControlName="check" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Okudum onaylıyorum.</label>
            </div>
        </form>

    </div>
</nz-modal>