<button (click)="askQuestion()" class="btn-ask-question" nz-button nzType="dashed">
    <i  nz-icon nzType="form"></i>
    Soru Sor
  </button>
<div class="top-question-box">



    <ul nz-list [nzDataSource]="data" nzBordered nzSize="large">
        <nz-list-header>
            <h6>En çok merak edilenler</h6>
        </nz-list-header>
        <li nz-list-item *ngFor="let item of data" nzNoFlex>
            <div class="row">
                <div class="col-10">
                    <strong>Lorem ipsum dolor sit amet.</strong>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <i class="date" nz-icon nzType="field-time" nzTheme="outline"></i> 25-12-2022

                </div>
                <div class="col-2">
                    <ul nz-list-item-actions>
                        <nz-list-item-action>
                            <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="search"></i></button>

                        </nz-list-item-action>
                    </ul>
                </div>
            </div>



        </li>
    </ul>
</div>