<div class="tag-box">
    <nz-card nzTitle="Popüler Tagler">
        <a>
            <nz-tag class="tag" [nzColor]="'magenta'">magenta</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'red'">red</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'volcano'">volcano</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'orange'">orange</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'gold'">gold</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'lime'">lime</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'green'">green</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'cyan'">cyan</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'blue'">blue</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'geekblue'">geekblue</nz-tag>
        </a>
        <a>
            <nz-tag class="tag" [nzColor]="'purple'">purple</nz-tag>
        </a>


    </nz-card>

</div>