<nav class="navbar navbar-expand-lg custom-background">
    <div class="container">
        <a class="navbar-brand" href="#">

        </a>

        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <i class="menu" nz-icon nzType="menu" nzTheme="outline"></i>
        </button>


        <div style="float:right" class="collapse navbar-collapse wrapper right" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="#">Item 1</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Item 2</a>
                </li>
            </ul>
        </div>

        <div>
            <app-nav-user-profile></app-nav-user-profile>
        </div>
    </div>

</nav>