<app-top-navbar></app-top-navbar>
<app-side-bar></app-side-bar>

<div class="container custom-grid">
    <nz-page-header class="Sorular" nzBackIcon nzTitle="Sorular" nzSubtitle="En son sorulmuş sorular"></nz-page-header>
    <div class="row">
        <div class="col-lg-8 custom-box">
            <app-question-detail></app-question-detail>
        </div>
        <div class="col-lg-4 custom-box">
            <app-top-questions-side-bar></app-top-questions-side-bar>
            <app-tags></app-tags>
        </div>
    </div>
</div>



<router-outlet></router-outlet>